Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'

"[#] core":
 - '*.go'
 - 'kernel/*'
 - 'kernel/**/*'
 - 'dequeue/*'
 - 'dequeue/**/*'
 - 'enqueue/*'
 - 'enqueue/**/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'
 - 'broker/eventbridge/**/*'

"[#] eventddb":
 - 'broker/eventddb/*'
 - 'broker/eventddb/**/*'

"[#] events3":
 - 'broker/events3/*'
 - 'broker/events3/**/*'

"[#] eventsqs":
 - 'broker/eventsqs/*'
 - 'broker/eventsqs/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] websocket":
 - 'broker/websocket/*'

enable N-pollers in the kernel
  config.go
  kernel/cathode.go
  version.go
Labels: [#] core

enable N-pollers in the kernel (#104)
  config.go
  kernel/cathode.go
  version.go
Labels: [#] core

Use sqs.BatchSize to config pooler pool
  broker/sqs/config.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/sqs.go
Labels: [#] sqs

increment version
  broker/sqs/version.go
Labels: [#] sqs

Use sqs.BatchSize to config pooler pool (#105)
  broker/sqs/config.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/sqs.go
  broker/sqs/version.go
Labels: [#] sqs

(fix): pass IOContext from WebSocket
  broker/websocket/README.md
  broker/websocket/authorizer.go
  broker/websocket/authorizer_test.go
  broker/websocket/awscdk.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/examples/serverless/main.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/lambda/auth/auth.go
  broker/websocket/version.go
  broker/websocket/websocket.go
  broker/websocket/websocket_test.go
Labels: [#] websocket

add copyrights
  broker/websocket/authorizer.go
  broker/websocket/authorizer_test.go
Labels: [#] websocket

clean example
  broker/websocket/examples/dequeue/typed/websocket.go
Labels: none

(fix): pass IOContext from WebSocket (#106)
  broker/websocket/README.md
  broker/websocket/authorizer.go
  broker/websocket/authorizer_test.go
  broker/websocket/awscdk.go
  broker/websocket/examples/serverless/main.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/lambda/auth/auth.go
  broker/websocket/version.go
  broker/websocket/websocket.go
  broker/websocket/websocket_test.go
Labels: [#] websocket

(fix) create duplex eventbridge broker
  broker/eventbridge/eventbridge.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

add unit test
  broker/eventbridge/eventbridge_test.go
Labels: [#] eventbridge

(fix) create duplex eventbridge broker (#107)
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

simple dsl for event pattern
  broker/eventbridge/README.md
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/pattern.go
  broker/eventbridge/pattern_test.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

update copyright
  broker/eventbridge/pattern.go
  broker/eventbridge/pattern_test.go
Labels: [#] eventbridge

simple dsl for event pattern (#110)
  broker/eventbridge/README.md
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/pattern.go
  broker/eventbridge/pattern_test.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

update kernel api - unified support for events and codecs
  config.go
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/writer.go
  enqueue/writer_test.go
  errors.go
  event.go
  go.mod
  go.sum
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/router.go
  version.go
Labels: [#] deps, [#] core

update go version
  .github/workflows/build.yml
  .github/workflows/check.yml
Labels: [#] ci/cd

increase test coverage
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/writer.go
  enqueue/writer_test.go
  kernel/bridge_test.go
  kernel/cathode_test.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/router_test.go
Labels: [#] core

fix test
  dequeue/dequeue_test.go
Labels: [#] core

update kernel api - unified support for events and codecs (#117)
  .github/workflows/build.yml
  .github/workflows/check.yml
  config.go
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/writer.go
  enqueue/writer_test.go
  errors.go
  event.go
  go.mod
  go.sum
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/router.go
  kernel/router_test.go
  version.go
Labels: [#] ci/cd, [#] deps, [#] core

test sqs config
  broker/sqs/config.go
  broker/sqs/sqs_test.go
Labels: [#] sqs

fix complex definition of events
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  event.go
  version.go
Labels: [#] core

fix complex definition of events (#120)
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  event.go
  version.go
Labels: [#] core

update brokers to kernel v0.22.0
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/pattern.go
  broker/eventbridge/pattern_test.go
  broker/eventbridge/version.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/eventsqs/version.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/version.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/version.go
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

update sqs examples
  broker/sqs/examples/dequeue/event/sqs.go
  broker/sqs/examples/enqueue/event/sqs.go
Labels: none

simplify event definition for sync api
  dequeue/dequeue.go
  enqueue/enqueue.go
  enqueue/writer.go
  enqueue/writer_test.go
  kernel/encoding/codec.go
Labels: [#] core

bump version
  version.go
Labels: [#] core

simplify event definition for sync api (#122)
  dequeue/dequeue.go
  enqueue/enqueue.go
  enqueue/writer.go
  enqueue/writer_test.go
  kernel/encoding/codec.go
  version.go
Labels: [#] core

update to v0.22.1
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/events3/go.mod
  broker/events3/go.sum
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/websocket/go.mod
  broker/websocket/go.sum
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

update brokers to kernel v0.22.1 (#121)
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/pattern.go
  broker/eventbridge/pattern_test.go
  broker/eventbridge/version.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/eventsqs/version.go
  broker/sqs/examples/dequeue/event/sqs.go
  broker/sqs/examples/enqueue/event/sqs.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/version.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/version.go
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

enable auto config of eventbridge I/O from IaC config
  broker/eventbridge/awscdk.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

fix test coverage for added functionality
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
Labels: [#] eventbridge

EventBus ID is only required for emit case
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
Labels: [#] eventbridge

remove test code
  broker/eventbridge/examples/serverless/eventbridge.go
Labels: [#] eventbridge

enable auto config of EventBridge I/O from IaC config (#123)
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

update deps for eventbridge
  broker/eventbridge/awscdk.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

update deps for eventbridge (#124)
  broker/eventbridge/awscdk.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

(fix) write granter must setup eventbus id
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

(fix) write granter must setup eventbus id (#125)
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/version.go
Labels: [#] eventbridge

swarm kernel v0.23.0
  config.go
  dequeue/dequeue.go
  enqueue/enqueue.go
  enqueue/writer.go
  enqueue/writer_test.go
  event.go
  kernel/cathode.go
  kernel/encoding/codec.go
  version.go
Labels: [#] core
