Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge, [#] websocket

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] core":
 - '*.go'
 - 'queue/*'
 - 'queue/**/*'
 - 'internal/*'
 - 'internal/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'

"[#] websocket":
 - 'broker/websocket/*'

rollback inflight counter
  internal/kernel/kernel.go
Labels: [#] core

Update README
  README.md
Labels: [#] doc

Rollback inflight sync routine (#51)
  README.md
  internal/kernel/kernel.go
Labels: [#] doc, [#] core

refactor cdk components
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/eventsqs/awscdk.go
  broker/eventsqs/awscdk_test.go
  broker/websocket/awscdk.go
  broker/websocket/lambda/authjwt/authjwt.go
  broker/websocket/lambda/authkey/authkey.go
  broker/websocket/websocket.go
  examples/eventbridge/serverless/main.go
  examples/eventddb/serverless/main.go
  examples/events3/serverless/main.go
  examples/eventsqs/serverless/main.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] sqs, [#] eventbridge, [#] websocket

update README.md
  README.md
Labels: [#] doc

update README.md
  README.md
Labels: [#] doc

review clean up
  broker/eventbridge/awscdk.go
  broker/websocket/awscdk.go
Labels: [#] eventbridge, [#] websocket

Refactor AWS CDK L3 Components (#52)
  README.md
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/eventsqs/awscdk.go
  broker/eventsqs/awscdk_test.go
  broker/websocket/awscdk.go
  broker/websocket/lambda/authjwt/authjwt.go
  broker/websocket/lambda/authkey/authkey.go
  broker/websocket/websocket.go
  examples/eventbridge/serverless/main.go
  examples/eventddb/serverless/main.go
  examples/events3/serverless/main.go
  examples/eventsqs/serverless/main.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] sqs, [#] eventbridge, [#] websocket

refactor authorizer to be a universal one
  broker/websocket/awscdk.go
  broker/websocket/lambda/auth/auth.go
  broker/websocket/lambda/authjwt/authjwt.go
  broker/websocket/lambda/authkey/authkey.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] websocket

align CDK constuct for all brokers
  broker/websocket/awscdk.go
  broker/websocket/lambda/auth/auth.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  queue/events/queue.go
  queue/queue.go
Labels: [#] core, [#] websocket

Refactor WebSocket Authorizer as universal one (#53)
  broker/websocket/awscdk.go
  broker/websocket/lambda/auth/auth.go
  broker/websocket/lambda/authjwt/authjwt.go
  broker/websocket/lambda/authkey/authkey.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  queue/events/queue.go
  queue/queue.go
Labels: [#] deps, [#] doc, [#] core, [#] websocket

update LICENSE
  broker/websocket/lambda/auth/auth.go
Labels: none

update LICENSE (#55)
  broker/websocket/lambda/auth/auth.go
Labels: none

allow other datasource to be connected with eventbridge sink
  broker/eventbridge/awscdk.go
  examples/eventbridge/enqueue/eventbridge.go
Labels: [#] doc, [#] eventbridge

allow other datasource to be connected with eventbridge sink (#56)
  broker/eventbridge/awscdk.go
  examples/eventbridge/enqueue/eventbridge.go
Labels: [#] doc, [#] eventbridge

Update go.mod (9 modules)
  go.mod
  go.sum
Labels: [#] deps

update deps with compatibility fixes
  broker/websocket/awscdk.go
  go.mod
  go.sum
Labels: [#] deps, [#] websocket

clean up
  go.mod
Labels: [#] deps

update deps with compatibility fixes (#58)
  broker/websocket/awscdk.go
  go.mod
  go.sum
Labels: [#] deps, [#] websocket

(fix): update deps, fix compatibility issues
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/eventsqs/awscdk.go
  broker/eventsqs/awscdk_test.go
  broker/websocket/awscdk.go
  event.go
  examples/eventbridge/serverless/main.go
  examples/eventddb/serverless/main.go
  examples/events3/serverless/main.go
  examples/eventsqs/serverless/main.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
Labels: [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge, [#] websocket

update deps
  go.mod
  go.sum
Labels: [#] deps

fix compatibility issue
  broker/eventddb/awscdk.go
Labels: none

update deps at ci/cd
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
Labels: [#] ci/cd

remove toolchain
  go.mod
Labels: [#] deps

fix static check issues
  broker/eventbridge/awscdk.go
Labels: [#] eventbridge

(fix): update deps, fix compatibility issues (#62)
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/eventsqs/awscdk.go
  broker/eventsqs/awscdk_test.go
  broker/websocket/awscdk.go
  event.go
  examples/eventbridge/serverless/main.go
  examples/eventddb/serverless/main.go
  examples/events3/serverless/main.go
  examples/eventsqs/serverless/main.go
  examples/websocket/serverless/main.go
  go.mod
  go.sum
Labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge, [#] websocket

Codec for binary serialization into json protocol
  codec.go
Labels: [#] core

apply bin codec for enqueue messages
  queue/bytes/queue.go
Labels: [#] core

minor fixes
  broker/eventbridge/eventbridge.go
  broker/websocket/awscdk.go
  internal/kernel/kernel.go
Labels: [#] core, [#] eventbridge, [#] websocket

Codec for binary serialization into json protocol (#72)
  broker/eventbridge/eventbridge.go
  broker/websocket/awscdk.go
  codec.go
  internal/kernel/kernel.go
  queue/bytes/queue.go
Labels: [#] core, [#] eventbridge, [#] websocket

fix ci/cd
  .github/workflows/check.yml
Labels: [#] ci/cd

drop unessesary deps from examples to qtest
  broker/eventbridge/examples/dequeue/eventbridge.go
  broker/eventbridge/examples/enqueue/eventbridge.go
  broker/eventddb/examples/dequeue/eventddb.go
  broker/events3/examples/dequeue/events3.go
  broker/eventsqs/examples/dequeue/eventsqs.go
  broker/eventsqs/examples/enqueue/eventsqs.go
  broker/sqs/examples/dequeue/sqs.go
  broker/sqs/examples/enqueue/sqs.go
  broker/websocket/examples/dequeue/websocket.go
  queue/examples/bytes/dequeue/bytes.go
  queue/examples/bytes/enqueue/bytes.go
  queue/examples/events/dequeue/events.go
  queue/examples/events/enqueue/events.go
Labels: [#] core

shuffle examples
  .github/workflows/check.yml
  broker/sqs/examples/bytes/dequeue/bytes.go
  broker/sqs/examples/bytes/enqueue/bytes.go
  broker/sqs/examples/events/dequeue/events.go
  broker/sqs/examples/events/enqueue/events.go
  go.mod
  go.sum
  queue/examples/README.md
Labels: [#] ci/cd, [#] deps, [#] core

update mod file
  broker/websocket/go.mod
Labels: [#] websocket

fix test lambda
  broker/eventbridge/awscdk_test.go
  broker/eventddb/awscdk_test.go
  broker/events3/awscdk_test.go
  broker/eventsqs/awscdk_test.go
Labels: [#] sqs, [#] eventbridge

patch queue deps
  queue/go.mod
  queue/go.sum
  queue/version.go
Labels: [#] core

patch mods
  broker/eventbridge/go.mod
  broker/eventddb/go.mod
  broker/events3/go.mod
  broker/eventsqs/go.mod
  broker/sqs/go.mod
  broker/websocket/go.mod
  qtest/go.mod
Labels: [#] sqs, [#] eventbridge, [#] websocket

Update deps `queue` (#74)
  broker/eventbridge/go.mod
  broker/eventddb/go.mod
  broker/events3/go.mod
  broker/eventsqs/go.mod
  broker/sqs/go.mod
  broker/websocket/go.mod
  qtest/go.mod
  queue/go.mod
  queue/go.sum
  queue/version.go
Labels: [#] core, [#] sqs, [#] eventbridge, [#] websocket

Update deps qtest
  broker/eventbridge/go.mod
  broker/eventsqs/go.mod
  broker/sqs/go.mod
  qtest/go.mod
  qtest/go.sum
  qtest/version.go
Labels: [#] sqs, [#] eventbridge

Update deps qtest (#75)
  broker/eventbridge/go.mod
  broker/eventsqs/go.mod
  broker/sqs/go.mod
  qtest/go.mod
  qtest/go.sum
  qtest/version.go
Labels: [#] sqs, [#] eventbridge
