Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] core":
 - '*.go'
 - 'backoff/*'
 - 'queue/*'
 - 'queue/bytes/*'
 - 'queue/events/*'
 - 'internal/system/*'
 - 'internal/queue/adapter'
 - 'internal/queue/qtest'

"[#] sqs":
 - 'queue/sqs/*'
 - 'internal/queue/sqs/*'
 - 'queue/eventsqs/*'
 - 'internal/queue/eventsqs/*'

"[#] eventbridge":
 - 'queue/eventbridge/*'
 - 'internal/eventbridge/sqs/*'

fix aws cdk components
  README.md
  examples/eventbridge/serverless/main.go
  queue/eventbridge/awscdk.go
Labels: [#] doc, [#] eventbridge

fix the event match pattern to support wide range of attributes
  queue/eventbridge/awscdk.go
Labels: [#] eventbridge

fix review comments
  examples/eventbridge/serverless/main.go
  queue/eventbridge/awscdk.go
Labels: [#] doc, [#] eventbridge

migrate bytes and events api
  README.md
  bag.go
  broker.go
  broker/eventbridge/broker.go
  broker/eventbridge/eventbridge.go
  broker/eventsqs/awscdk.go
  broker/eventsqs/broker.go
  broker/sqs/broker.go
  broker/sqs/sqs.go
  channel.go
  config.go
  event.go
  examples/bytes/recv/bytes.go
  examples/bytes/send/bytes.go
  examples/eventbridge/recv/eventbridge.go
  examples/eventbridge/send/eventbridge.go
  examples/events/dequeue/events.go
  examples/events/enqueue/events.go
  examples/eventsqs/recv/eventsqs.go
  examples/eventsqs/send/eventsqs.go
  examples/eventsqs/serverless/cdk.json
  examples/eventsqs/serverless/main.go
  examples/sqs/recv/sqs.go
  examples/sqs/send/sqs.go
  internal/router/router.go
  notes.md
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  v1/examples/eventsqs/serverless/main.go
  v1/queue/eventsqs/awscdk.go
Labels: [#] doc, [#] core

update documentation
  README.md
  broker.go
  broker/eventbridge/broker.go
  broker/eventbridge/eventbridge.go
  channel.go
  config.go
  doc/pattern.md
  event.go
  examples/sqs/send/sqs.go
  internal/router/router.go
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
Labels: [#] doc, [#] core

Update examples
  README.md
  examples/bytes/dequeue/bytes.go
  examples/bytes/enqueue/bytes.go
  examples/eventbridge/dequeue/eventbridge.go
  examples/eventbridge/enqueue/eventbridge.go
  examples/eventbridge/serverless/main.go
  examples/eventsqs/dequeue/eventsqs.go
  examples/eventsqs/enqueue/eventsqs.go
  examples/eventsqs/serverless/main.go
  examples/sqs/dequeue/sqs.go
  examples/sqs/enqueue/sqs.go
  queue/enqueue.go
Labels: [#] doc, [#] core

update README.md
  README.md
Labels: [#] doc

Support backoff retry for I/O
  broker/sqs/sqs.go
  channel.go
  config.go
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
Labels: [#] core

clean up code
  README.md
  broker/sqs/broker.go
  notes.md
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/bytes/queue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  queue/events/queue.go
  queue/queue.go
  v1/examples/eventbridge/recv/eventbridge.go
  v1/examples/eventbridge/send/eventbridge.go
  v1/examples/eventbridge/serverless/cdk.json
  v1/examples/eventbridge/serverless/main.go
  v1/examples/eventlog/dequeue/dequeue.go
  v1/examples/eventlog/enqueue/enqueue.go
  v1/examples/sqs/recv/sqs.go
  v1/examples/sqs/send/sqs.go
  v1/policy.go
  v1/swarm.go
Labels: [#] doc, [#] core

clean up code
  v1/internal/queue/eventbridge/deq.go
  v1/internal/queue/eventbridge/enq.go
  v1/internal/queue/eventsqs/deq.go
  v1/internal/queue/qv2.go
  v1/internal/queue/sqs/deq.go
  v1/internal/queue/sqs/enq.go
  v1/internal/system/channels.go
  v1/internal/system/queue.go
  v1/internal/system/system.go
  v1/internal/system/types.go
  v1/queue/bytes/bytes.go
  v1/queue/eventbridge/awscdk.go
  v1/queue/eventbridge/eventbridge.go
  v1/queue/events/events.go
  v1/queue/eventsqs/sqs.go
  v1/queue/generic.go
  v1/queue/sqs/sqs.go
Labels: none
