Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge, [#] websocket

Update `eventsqs` to kernel v0.20.0
  broker/eventsqs/awscdk_test.go
  broker/eventsqs/config.go
  broker/eventsqs/eventsqs.go
  broker/eventsqs/eventsqs_test.go
  broker/eventsqs/examples/dequeue/typed/eventsqs.go
  broker/eventsqs/examples/enqueue/eventsqs.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
Labels: [#] sqs

fix attach existing queue to stack
  broker/eventsqs/awscdk.go
  broker/eventsqs/examples/serverless/main.go
Labels: [#] sqs

clean up code
  broker/eventsqs/eventsqs_test.go
Labels: [#] sqs

increase test coverage
  broker/eventsqs/eventsqs_test.go
Labels: [#] sqs

Update `eventsqs` to kernel v0.20.0 (#87)
  broker/eventsqs/awscdk.go
  broker/eventsqs/awscdk_test.go
  broker/eventsqs/config.go
  broker/eventsqs/eventsqs.go
  broker/eventsqs/eventsqs_test.go
  broker/eventsqs/examples/dequeue/typed/eventsqs.go
  broker/eventsqs/examples/enqueue/eventsqs.go
  broker/eventsqs/examples/serverless/main.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
Labels: [#] sqs

release eventsqs/v0.20.0
  broker/eventsqs/version.go
Labels: [#] sqs

release eventsqs/v0.20.0 (#88)
  broker/eventsqs/version.go
Labels: [#] sqs

Update `eventddb` to kernel v0.20.0
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/eventddb/config.go
  broker/eventddb/eventddb.go
  broker/eventddb/eventddb_test.go
  broker/eventddb/examples/dequeue/typed/eventddb.go
  broker/eventddb/examples/serverless/cdk.json
  broker/eventddb/examples/serverless/eventddb.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/type.go
  broker/eventddb/version.go
Labels: none

Update `eventddb` to kernel v0.20.0 (#89)
  broker/eventddb/awscdk.go
  broker/eventddb/awscdk_test.go
  broker/eventddb/config.go
  broker/eventddb/eventddb.go
  broker/eventddb/eventddb_test.go
  broker/eventddb/examples/dequeue/typed/eventddb.go
  broker/eventddb/examples/serverless/cdk.json
  broker/eventddb/examples/serverless/eventddb.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/type.go
  broker/eventddb/version.go
Labels: none

Update `websocket` to kernel v0.20.0
  broker/websocket/config.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/examples/serverless/main.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/lambda/auth/auth.go
  broker/websocket/version.go
  broker/websocket/websocket.go
  broker/websocket/websocket_test.go
Labels: [#] websocket

test enqueuer
  broker/websocket/websocket_test.go
Labels: [#] websocket

Update `websocket` to kernel v0.20.0 (#92)
  broker/websocket/config.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/examples/serverless/main.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/lambda/auth/auth.go
  broker/websocket/version.go
  broker/websocket/websocket.go
  broker/websocket/websocket_test.go
Labels: [#] websocket

Modules `queue` and `qtest` are not needed with in the new kernel
  qtest/go.mod
  qtest/go.sum
  qtest/logger.go
  qtest/qtest.go
  qtest/version.go
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/bytes/queue.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  queue/events/queue.go
  queue/go.mod
  queue/go.sum
  queue/queue.go
  queue/version.go
Labels: [#] core

Update CI/CD
  .github/workflows/build.yml
  .github/workflows/check.yml
Labels: [#] ci/cd

Modules `queue` and `qtest` are not needed with in the new kernel (#93)
  .github/workflows/build.yml
  .github/workflows/check.yml
  qtest/go.mod
  qtest/go.sum
  qtest/logger.go
  qtest/qtest.go
  qtest/version.go
  queue/bytes/dequeue.go
  queue/bytes/enqueue.go
  queue/bytes/queue.go
  queue/dequeue.go
  queue/enqueue.go
  queue/events/dequeue.go
  queue/events/enqueue.go
  queue/events/queue.go
  queue/go.mod
  queue/go.sum
  queue/queue.go
  queue/version.go
Labels: [#] ci/cd, [#] core

kernel v0.20.1 with minor improvements
  README.md
  bag.go
  config.go
  dequeue/dequeue.go
  enqueue/enqueue.go
  enqueue/writer.go
  errors.go
  kernel/bridge.go
  kernel/cathode.go
  kernel/cathode_test.go
  version.go
Labels: [#] doc, [#] core

kernel v0.20.1 with minor improvements (#94)
  README.md
  bag.go
  config.go
  dequeue/dequeue.go
  enqueue/enqueue.go
  enqueue/writer.go
  errors.go
  kernel/bridge.go
  kernel/cathode.go
  kernel/cathode_test.go
  version.go
Labels: [#] doc, [#] core

Update `eventbridge` to kernel v0.20.1
  broker/eventbridge/README.md
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

Update `eventbridge` to kernel v0.20.1 (#95)
  broker/eventbridge/README.md
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

Update `eventddb` to kernel v0.20.1
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
Labels: none

Update `eventddb` to kernel v0.20.1 (#96)
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
Labels: none

Update all broker to kernel v0.20.1
  broker/eventbridge/awscdk.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/version.go
  broker/eventddb/config.go
  broker/eventddb/version.go
  broker/events3/awscdk.go
  broker/events3/config.go
  broker/events3/events3.go
  broker/events3/events3_test.go
  broker/events3/examples/dequeue/typed/events3.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/config.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/sqs/config.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/websocket/README.md
  broker/websocket/awscdk.go
  broker/websocket/config.go
  broker/websocket/go.mod
  broker/websocket/go.sum
Labels: [#] sqs, [#] eventbridge, [#] websocket

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] core":
 - '*.go'
 - 'queue/*'
 - 'queue/**/*'
 - 'internal/*'
 - 'internal/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'

"[#] websocket":
 - 'broker/websocket/*'
