Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'

"[#] core":
 - '*.go'
 - 'kernel/*'
 - 'kernel/**/*'
 - 'dequeue/*'
 - 'dequeue/**/*'
 - 'enqueue/*'
 - 'enqueue/**/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'
 - 'broker/eventbridge/**/*'

"[#] eventddb":
 - 'broker/eventddb/*'
 - 'broker/eventddb/**/*'

"[#] events3":
 - 'broker/events3/*'
 - 'broker/events3/**/*'

"[#] eventsqs":
 - 'broker/eventsqs/*'
 - 'broker/eventsqs/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] websocket":
 - 'broker/websocket/*'

preemptive emitter loop without loss (delay) of emission
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/factory.go
  kernel/kernel_test.go
Labels: [#] core

update time to fligh for the unit test
  kernel/bridge_test.go
Labels: [#] core

enable bridge message broadcast to multiple emitters
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/broadcast/broadcast.go
  kernel/broadcast/broadcast_test.go
  kernel/emitter.go
  kernel/factory.go
  kernel/kernel_test.go
Labels: [#] core

improve retry and timeout handling in kernel
  kernel/backoff/backoff.go
  kernel/bridge_test.go
  kernel/broadcast/broadcast.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
Labels: [#] core

fix tests adding the retry policy
  dequeue/dequeue_test.go
  enqueue/enqueue_test.go
  enqueue/writer_test.go
Labels: [#] core

default backoff strategy is None
  config.go
  go.mod
  go.sum
  kernel/backoff/backoff_test.go
Labels: [#] deps, [#] core

remove yield_before_close const
  kernel/bridge_test.go
  kernel/cathode_test.go
Labels: [#] core

update documentation
  kernel/bridge.go
  kernel/broadcast/broadcast.go
Labels: [#] core

update deps
  go.mod
  go.sum
Labels: [#] deps

refactor kernel to user friendly api
  emit/emit.go
  emit/emit_test.go
  emit/writer.go
  emit/writer_test.go
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/factory.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  listen/dequeue_test.go
  listen/listen.go
Labels: [#] core

update README.md
  README.md
Labels: [#] doc

rename EmitterKernel / ListenerKernel to XxxCore
  emit/emit.go
  emit/writer.go
  kernel/emitter.go
  kernel/factory.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  listen/listen.go
Labels: [#] core

rename akward object
  kernel/bridge_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/factory.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
Labels: [#] core

update README.md
  README.md
  doc/bring-your-own-broker.md
  doc/user-guide.md
Labels: [#] doc

minor changes about mental model
  README.md
Labels: [#] doc

minor changes to README.md
  README.md
Labels: [#] doc

update README.md (final revision)
  README.md
Labels: [#] doc

fix emit/listen package names
  emit/emit.go
  emit/emit_test.go
  emit/writer.go
  emit/writer_test.go
  listen/dequeue_test.go
  listen/listen.go
Labels: none

swarm kernel v0.23.0 (#126)
  README.md
  config.go
  doc/bring-your-own-broker.md
  doc/user-guide.md
  emit/emit.go
  emit/emit_test.go
  emit/writer.go
  emit/writer_test.go
  event.go
  go.mod
  go.sum
  kernel/backoff/backoff.go
  kernel/backoff/backoff_test.go
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/broadcast/broadcast.go
  kernel/broadcast/broadcast_test.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/factory.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  listen/dequeue_test.go
  listen/listen.go
  version.go
Labels: [#] deps, [#] doc, [#] core

migrate eventddb to new config api
  broker/eventbridge/eventbridge.go
  broker/eventddb/awscdk_test.go
  broker/eventddb/builder.go
  broker/eventddb/eventddb.go
  broker/eventddb/eventddb_test.go
  broker/eventddb/examples/dequeue/typed/eventddb.go
  broker/eventddb/type.go
Labels: [#] eventbridge, [#] eventddb

migrate events3
  broker/eventddb/examples/dequeue/typed/eventddb.go
  broker/eventddb/type.go
  broker/events3/awscdk_test.go
  broker/events3/builder.go
  broker/events3/events3.go
  broker/events3/events3_test.go
  broker/events3/examples/dequeue/typed/events3.go
  broker/events3/type.go
Labels: [#] eventddb, [#] events3

update eventsqs
  broker/eventsqs/awscdk_test.go
  broker/eventsqs/builder.go
  broker/eventsqs/eventsqs.go
  broker/eventsqs/eventsqs_test.go
  broker/eventsqs/examples/dequeue/typed/eventsqs.go
Labels: [#] eventsqs, [#] sqs

update websocket
  broker/websocket/builder.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/websocket.go
  broker/websocket/websocket_test.go
Labels: [#] websocket

update doc
  doc/adr/ADR001_CONFIG.md
Labels: [#] doc

update broker deps
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/eventsqs/version.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/version.go
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

in-memory embedded broker (for testing)
  broker/embedded/builder.go
  broker/embedded/embedded.go
  broker/embedded/embedded_test.go
  broker/embedded/go.mod
  broker/embedded/go.sum
  broker/embedded/version.go
  broker/eventbridge/eventbridge.go
  broker/eventddb/eventddb_test.go
Labels: [#] eventbridge, [#] eventddb

quick start example
  broker/embedded/builder.go
  broker/embedded/examples/quickstart/main.go
Labels: none

patch kernel v0.23.0 api
  README.md
  config.go
  kernel/kernel.go
  version.go
Labels: [#] doc, [#] core

fix typos
  config.go
Labels: [#] core

explicitly close listener / emitter
  emit/emit_test.go
  kernel/bridge.go
  kernel/emitter.go
  kernel/kernel_test.go
  kernel/listener.go
  listen/dequeue_test.go
Labels: [#] core

fix mock
  kernel/emitter_test.go
Labels: [#] core

patch kernel v0.23.0 api (#129)
  README.md
  config.go
  emit/emit_test.go
  kernel/bridge.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  listen/dequeue_test.go
  version.go
Labels: [#] doc, [#] core

use v0.23.1 for embedded broker
  broker/embedded/builder.go
  broker/embedded/embedded.go
  broker/embedded/embedded_test.go
  broker/embedded/examples/quickstart/main.go
  broker/embedded/go.mod
  broker/embedded/go.sum
Labels: none

update eventbridge to kernel v0.23.1
  broker/embedded/go.mod
  broker/eventbridge/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
Labels: [#] eventbridge

update to kernel v0.23.1
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/events3/go.mod
  broker/events3/go.sum
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
Labels: [#] eventddb, [#] events3, [#] eventsqs, [#] sqs

update to kerven v0.23.1
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/sqs.go
  broker/sqs/sqs_test.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/websocket.go
Labels: [#] sqs, [#] websocket

review embedded
  broker/embedded/builder.go
Labels: none

remove unused property
  broker/eventbridge/awscdk.go
  broker/eventddb/awscdk.go
  broker/events3/awscdk.go
  broker/eventsqs/awscdk.go
  broker/websocket/awscdk.go
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

update eventbridge examples
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/pattern.go
Labels: [#] eventbridge

minor style fix to examples
  broker/sqs/examples/dequeue/bytes/sqs.go
  broker/sqs/examples/dequeue/event/sqs.go
  broker/sqs/examples/enqueue/bytes/sqs.go
Labels: none
