Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] sqs, [#] eventbridge, [#] websocket

Update deps for all brokers
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/version.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/version.go
Labels: [#] sqs, [#] eventbridge, [#] websocket

Update deps for all brokers (#76)
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
  broker/eventddb/go.mod
  broker/eventddb/go.sum
  broker/eventddb/version.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/version.go
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/version.go
  broker/websocket/go.mod
  broker/websocket/go.sum
  broker/websocket/version.go
Labels: [#] sqs, [#] eventbridge, [#] websocket

Update deps eventsqs
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
Labels: [#] sqs

bump version
  broker/eventsqs/version.go
Labels: [#] sqs

Update deps eventsqs (#77)
  broker/eventsqs/go.mod
  broker/eventsqs/go.sum
  broker/eventsqs/version.go
Labels: [#] sqs

Split kernel on distinct emitter (writer) and cathode (reader).
  go.mod
  go.sum
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/kernel.go
  kernel/router.go
  kernel/router_test.go
  version.go
Labels: [#] deps, [#] core

fix unit test
  kernel/bridge_test.go
Labels: none

fix routing in bridge
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/router.go
  kernel/router_test.go
Labels: none

increase test coverage for kernel
  kernel/bridge_test.go
  kernel/emitter_test.go
Labels: none

increase yield timeout
  kernel/bridge_test.go
Labels: none

test dual kernel
  kernel/cathode_test.go
  kernel/emitter_test.go
  kernel/kernel.go
Labels: none

improve documentation
  kernel/bridge.go
  kernel/cathode.go
  kernel/emitter.go
Labels: none

finalize v0.20.0-alpha for kernel
  bag.go
  version.go
Labels: [#] core

move codec within kernel
  kernel/bridge_test.go
  kernel/cathode_test.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/router_test.go
Labels: none

dequeue api for applications
  dequeue/dequeue.go
  dequeue/dequeue_test.go
Labels: none

enqueue api for applications
  config.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
Labels: [#] core

add unit test for bytes
  enqueue/enqueue_test.go
Labels: none

sync enqueue api for applications
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/writer.go
  enqueue/writer_test.go
Labels: none

refactor definition of message context
  bag.go
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/writer.go
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/router.go
  service.go
Labels: [#] core

remove WithService config option
  config.go
Labels: [#] core

rename config CapDlq
  kernel/emitter.go
  kernel/emitter_test.go
Labels: none

minor fix on dequeue api
  dequeue/dequeue.go
  dequeue/dequeue_test.go
Labels: none

use side-car for meta & data in the event structure instead of envelop
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/try/main.go
  enqueue/writer.go
  enqueue/writer_test.go
  event.go
  go.mod
  go.sum
  kernel/encoding/codec.go
Labels: [#] deps, [#] core

remove test code
  enqueue/try/main.go
Labels: none

Split kernel on distinct emitter (writer) and cathode (reader). (#79)
  bag.go
  config.go
  dequeue/dequeue.go
  dequeue/dequeue_test.go
  enqueue/enqueue.go
  enqueue/enqueue_test.go
  enqueue/writer.go
  enqueue/writer_test.go
  event.go
  go.mod
  go.sum
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/cathode.go
  kernel/cathode_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/kernel.go
  kernel/router.go
  kernel/router_test.go
  service.go
  version.go
Labels: [#] deps, [#] core

Update eventbridge to kernel v0.20.0
  broker/eventbridge/awscdk.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/examples/serverless/cdk.json
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

rename env variable
  broker/eventbridge/awscdk.go
  broker/eventbridge/config.go
Labels: [#] eventbridge

fix environment variable
  broker/eventbridge/awscdk_test.go
Labels: [#] eventbridge

increase test coverage
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/eventbridge_test.go
Labels: [#] eventbridge

eventbridge add example of sending binary data
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/serverless/eventbridge.go
Labels: [#] eventbridge

Update eventbridge to kernel v0.20.0 (#80)
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/config.go
  broker/eventbridge/eventbridge.go
  broker/eventbridge/eventbridge_test.go
  broker/eventbridge/examples/dequeue/bytes/eventbridge.go
  broker/eventbridge/examples/dequeue/event/eventbridge.go
  broker/eventbridge/examples/dequeue/eventbridge.go
  broker/eventbridge/examples/dequeue/typed/eventbridge.go
  broker/eventbridge/examples/enqueue/bytes/eventbridge.go
  broker/eventbridge/examples/enqueue/event/eventbridge.go
  broker/eventbridge/examples/enqueue/eventbridge.go
  broker/eventbridge/examples/enqueue/typed/eventbridge.go
  broker/eventbridge/examples/serverless/cdk.json
  broker/eventbridge/examples/serverless/eventbridge.go
  broker/eventbridge/go.mod
  broker/eventbridge/go.sum
  broker/eventbridge/version.go
Labels: [#] eventbridge

Update events3 to kernel v0.20.0
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/events3/config.go
  broker/events3/events3.go
  broker/events3/events3_test.go
  broker/events3/examples/dequeue/typed/events3.go
  broker/events3/examples/serverless/cdk.json
  broker/events3/examples/serverless/events3.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/type.go
Labels: none

minor updates after review
  broker/events3/events3.go
  broker/events3/events3_test.go
Labels: none

fix deps
  broker/events3/go.mod
  broker/events3/go.sum
Labels: none

bump version
  broker/events3/version.go
Labels: none

Update events3 to kernel v0.20.0 (#84)
  broker/events3/awscdk.go
  broker/events3/awscdk_test.go
  broker/events3/config.go
  broker/events3/events3.go
  broker/events3/events3_test.go
  broker/events3/examples/dequeue/typed/events3.go
  broker/events3/examples/serverless/cdk.json
  broker/events3/examples/serverless/events3.go
  broker/events3/go.mod
  broker/events3/go.sum
  broker/events3/type.go
  broker/events3/version.go
Labels: none

Update sqs to kernel v0.20.0
  broker/sqs/config.go
  broker/sqs/examples/dequeue/bytes/sqs.go
  broker/sqs/examples/dequeue/event/sqs.go
  broker/sqs/examples/dequeue/typed/sqs.go
  broker/sqs/examples/enqueue/bytes/sqs.go
  broker/sqs/examples/enqueue/event/sqs.go
  broker/sqs/examples/enqueue/typed/sqs.go
  broker/sqs/examples/events/dequeue/events.go
  broker/sqs/examples/events/enqueue/events.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/sqs.go
  broker/sqs/sqs_test.go
Labels: [#] sqs

increase test coverage
  broker/sqs/sqs_test.go
  broker/sqs/version.go
Labels: [#] sqs

update unit tests
  broker/sqs/sqs_test.go
Labels: [#] sqs

Update `sqs` to kernel v0.20.0 (#85)
  broker/sqs/config.go
  broker/sqs/examples/dequeue/bytes/sqs.go
  broker/sqs/examples/dequeue/event/sqs.go
  broker/sqs/examples/dequeue/typed/sqs.go
  broker/sqs/examples/enqueue/bytes/sqs.go
  broker/sqs/examples/enqueue/event/sqs.go
  broker/sqs/examples/enqueue/typed/sqs.go
  broker/sqs/examples/events/dequeue/events.go
  broker/sqs/examples/events/enqueue/events.go
  broker/sqs/go.mod
  broker/sqs/go.sum
  broker/sqs/sqs.go
  broker/sqs/sqs_test.go
  broker/sqs/version.go
Labels: [#] sqs

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] core":
 - '*.go'
 - 'queue/*'
 - 'queue/**/*'
 - 'internal/*'
 - 'internal/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'

"[#] websocket":
 - 'broker/websocket/*'
