Repository fogfish/swarm, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] core, [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

explicitly emphasis deps via port definiton
  broker/eventbridge/eventbridge.go
  broker/eventbridge/port.go
  broker/sqs/port.go
  broker/websocket/port.go
  broker/websocket/websocket.go
Labels: [#] eventbridge, [#] sqs, [#] websocket

fix event source env variable
  broker/eventbridge/awscdk.go
  broker/eventbridge/awscdk_test.go
  broker/eventbridge/builder.go
  broker/eventddb/builder.go
  broker/events3/builder.go
  broker/eventsqs/builder.go
  broker/sqs/builder.go
  broker/websocket/awscdk.go
  broker/websocket/builder.go
  broker/websocket/examples/dequeue/typed/websocket.go
  broker/websocket/examples/serverless/main.go
Labels: [#] eventbridge, [#] eventddb, [#] events3, [#] eventsqs, [#] sqs, [#] websocket

make WaitTime configurable for SQS
  broker/sqs/builder.go
  broker/sqs/sqs.go
Labels: [#] sqs

update README with interactive example
  README.md
Labels: [#] doc

improve encoding obj -> bag, giving fine grain control to application about dynamic routing
  emit/emit.go
  emit/writer.go
  kernel/bridge_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
Labels: [#] core

improve decoding bag -> obj
  kernel/bridge_test.go
  kernel/encoding/codec.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  kernel/router.go
  listen/listen.go
Labels: [#] core

fix typo
  listen/listen.go
Labels: none

kernel primitive emitEvent to work on raw events
  kernel/emitter.go
  kernel/emitter_test.go
Labels: [#] core

drop unessesary deps
  kernel/emitter_test.go
Labels: [#] core

unwarp recv channel
  bag.go
  event.go
  kernel/bridge.go
  kernel/encoding/codec_test.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  kernel/router.go
  kernel/router_test.go
  listen/dequeue_test.go
Labels: [#] core

adapt emit / listen api for kernel event primitives
  emit/emit.go
  kernel/emitter.go
  kernel/listener.go
  listen/dequeue_test.go
  listen/listen.go
Labels: [#] core

minor fixes after code review
  bag.go
  kernel/encoding/codec_test.go
Labels: [#] core

rename XxxCore -> XxxIO
  emit/emit.go
  emit/writer.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/factory.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  listen/listen.go
Labels: [#] core

simplify handling of swarm.Event in the kernel
  emit/emit.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/listener.go
  kernel/router.go
  kernel/router_test.go
  listen/listen.go
Labels: [#] core

helper function to cast bag to event
  event.go
Labels: [#] core

fix panic if metadata is undefined
  event.go
  kernel/encoding/codec.go
Labels: [#] core

release api change as v0.24.x
  version.go
Labels: [#] core

remove broker specific codec from kernel
  kernel/encoding/codec.go
Labels: [#] core

Unwrap `swarm.Msg[swarm.Event[M, T]]` for usability (#131)
  bag.go
  emit/emit.go
  emit/writer.go
  event.go
  kernel/bridge.go
  kernel/bridge_test.go
  kernel/emitter.go
  kernel/emitter_test.go
  kernel/encoding/codec.go
  kernel/factory.go
  kernel/kernel.go
  kernel/kernel_test.go
  kernel/listener.go
  kernel/listener_test.go
  kernel/router.go
  kernel/router_test.go
  listen/dequeue_test.go
  listen/listen.go
  version.go
Labels: [#] core

increase test coverage
  broker/eventddb/awscdk_test.go
  broker/eventddb/eventddb_test.go
  broker/events3/awscdk_test.go
  broker/events3/events3_test.go
  broker/eventsqs/awscdk_test.go
  broker/eventsqs/eventsqs_test.go
Labels: [#] eventddb, [#] events3, [#] eventsqs, [#] sqs

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'

"[#] core":
 - '*.go'
 - 'kernel/*'
 - 'kernel/**/*'
 - 'dequeue/*'
 - 'dequeue/**/*'
 - 'enqueue/*'
 - 'enqueue/**/*'

"[#] eventbridge":
 - 'broker/eventbridge/*'
 - 'broker/eventbridge/**/*'

"[#] eventddb":
 - 'broker/eventddb/*'
 - 'broker/eventddb/**/*'

"[#] events3":
 - 'broker/events3/*'
 - 'broker/events3/**/*'

"[#] eventsqs":
 - 'broker/eventsqs/*'
 - 'broker/eventsqs/**/*'

"[#] sqs":
 - 'broker/sqs/*'
 - 'broker/eventsqs/*'

"[#] websocket":
 - 'broker/websocket/*'
